<html>
<head>
    <link rel="stylesheet" href="{{ url_for ('static',filename='vendors/font-awesome/css/font-awesome.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='vendors/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='vendors/bootstrap/css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='vendors/bootstrap/css/bootstrap.css.map')}}">
  <script src="{{ url_for('static', filename='vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for ('static',filename='vendors/bootstrap/css/bootstrap.min.css.map')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='css/user.css')}}">
</head>
<body>
<div>
    {{chefnavbarhtml | safe}}
    
      <div class="container wd-center">
        <h2>Cuisines ({{cuisine_count | safe}})</h2>
        <hr/>
        
        <div class="row row-cols-1 row-cols-md-4 g-4">
          {% for cuisine in cuisine_list %}
          <a href="/items/{{ cuisine }}" class="wd-cuisine-card">
            <div class="col">
              <div class="card" style="width: 15rem;">
                {% set image_url = '../static/images/' + cuisine + '.jpg' %}
                <img src="{{ image_url | safe }}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">{{ cuisine | safe }}</h5>
                  <!-- <p class="card-text">{{ cuisine | safe }}</p> -->
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      
  </div>
</body>
</html>


  